@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1 {
    text-align: center;
    font-family: 'Sevillana', cursive;
    color: #00a2b3
}

h2 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Georgia';

}

.logo {
    background-size: cover;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    height: 4em;
    width: 4em;
    margin: 1em;
}

.content {
    margin: 0 1em;
    padding: 1em;
    background-color: #ffe8d1;

}

body {
    background-color: #e5f4ef;
    color: #852500;
}

