.nav{
    display: flex;
    border: 1px solid black;
    justify-content: flex-end;
    width: 100;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.nav div{
    padding: 0.5em 2em;
}

.formRow{
    margin: 0.5em 0;
}

.card{
    width: 30%;
    border-radius: 10px;
}

img{
    margin: 0.5em 0;
}


input[type=text],
input[type=email],
textarea{
    width: 100%;
    margin-top: 0.5em;
}

form {
    width: 65%;

}
